services:
  db:
    image: postgres:17
    container_name: inventory-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    volumes:
      - ./backend:/backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/frontend
      - node_modules:/frontend/node_modules
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env

  backend-tests:
    profiles: ["test"]
    build: ./backend
    command: pytest
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    depends_on:
      - db

  frontend-tests:
    profiles: ["test"]
    build: ./frontend
    command: npm run test
    volumes:
      - ./frontend:/frontend
      - node_modules:/frontend/node_modules
    env_file:
      - .env

volumes:
  pgdata:
  node_modules:
